<div class="container profile volunteer">
  <%= render partial: 'shared/notice' %>
  <%= render @volunteer do %>
    <div class="btn-group col-sm-offset-3 col-sm-9" role="group">
      <%= link_to 'Edit', edit_volunteer_path(@volunteer), class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
