<div class="container">
  <div class="row">
    <%= render partial: 'shared/notice' %>
    <div class="btn-group" role="group">
      <%= link_to "Adauga #{profile_resource_name}", new_profile_path, class: 'btn btn-default' %>
    </div>
  </div>
  <div class="row">
    <%= render partial: 'shared/profiles_table', locals: {profiles: @profiles} %>
    <%= will_paginate @profiles, renderer: BootstrapPagination::Rails %>
  </div>
</div>
