<div class="container profile">
  <%= render partial: 'shared/notice' %>
  <%= render @profile do %>
    <div class="btn-group col-sm-offset-3 col-sm-9" role="group">
      <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-default' %>
    </div>
  <% end %>
  <div class="row">
    <dl class="dl-horizontal">
      <dt>Proiecte</dt>
      <dd><%= render partial: 'shared/member_projects_table', locals: {members: @memberships} %></dd>
    </dl>
  </div>
</div>
