<div class="container profile">
  <%= render partial: 'shared/notice' %>
  <%= render @profile do %>
    <dl class="dl-horizontal">
      <dt></dt>
      <dd>
        <div class="btn-group col-sm-9" role="group">
          <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-default' %>
        </div>
      </dd>
    </dl>
  <% end %>
  <div class="row">
    <dl class="dl-horizontal">
      <dd>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Proiecte</h2>
          </div>
          <%= render partial: 'shared/member_projects_list', locals: {members: @memberships} %>
        </div>
      </dd>
    </dl>
  </div>
</div>
