<div class="container profile volunteer">
  <%= render partial: 'shared/notice' %>
  <%= render @profile do %>
    <div class="btn-group col-sm-offset-3 col-sm-9" role="group">
      <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
