<div class="container">  
  <div class="btn-group" role="group">
    <%= link_to new_meeting_path, class: 'btn btn-default' do %>
      Adauga intilnire
    <% end %>
  </div>
  <div class="row">
    <span class="text-info notice"><%= notice %></span>
  </div>
  <div class="row">
    <%= render partial: 'shared/meetings_table', locals: {meetings: @meetings} %> 
  </div>
  <div class="row will-paginate">
    <%= will_paginate @meetings, renderer: BootstrapPagination::Rails %>
  </div>
</div>
