// Color definitions. These overwrite the bootstrap color variables.

$mainColor: #0000FF;
$mainMutedColor: #B3B3FF;
$mainContrastColor: #22B968;
$mainTextColor: white;

$secondaryColor: #a31e60;
$secondaryMutedColor: #c97ca2;
$secondaryContrastColor: #9f3a1b;
$secondaryTextColor: white;

$lightGray: #eeeded;

$primary: #9B0000;
$secondary: #FFFAEF;
