<div class="email_content">
<p>Ai cerut resetarea parolei tale la Voluntari Code4Romania?</p>
<p>Daca ai cerut resetarea parolei tale la voluntari.ithub.gov.ro folosind adresa de email <tt><%= @to %></tt> atunci foloseste butonul de mai jos pentru a finaliza procedura de resetare.</p>
<p><a class="btn btn-primary center-block text-center" href="<%= @url %>">Reseteaza Parola</a></p>
</div>

