<div class="email_content">
  <p>Am creat un cont pentru <%= @user.email %> pe site-ul comunității Code4Romania.</p>
  <p>Folosește <a href="<%= @url %>">acest link</a> pentru a seta o parolă pentru cont.</p>
</div>
