<div class="email_content">
<p>Am creat un cont pentru <%= @user.email %> pe site-ul comunitatii Code4Romania.</p>
<p>Un cont nou nu are parola de acces si il poti accesa numai de pe calculatorul de pe care ai creat contul. Folosind butonul de mai jos poti introduce o parola care-ti va permite sa accesezi contul de oriunde.</p>
<a class="btn btn-primary center-block text-center" href="<%= @url %>">Introdu Parola</a>
</div>


