.card {
  padding: 10px;
  margin-bottom: 10px;
}

.project-logo {
  text-align: center;
  margin-bottom: 10px;

  img {
    height: auto;
    width: 80%;
  }
}

.project-positions-container {
  display: flex;
  justify-content: center;

  .project-position {
    padding: 10px 0;
    margin-right: 5px;
    background: #72bb53;
    text-align: center;
    font-size: 14px;
    cursor: pointer;

    &--open {
      background: #e6160d;
    }
  }
}
