.project-list {
  margin-bottom: 80px;
}

.project {
  margin-bottom: 20px;
}

.project-action {
  background: $secondary;
  border: 1px solid #ccc;
  display: block;
  padding: 30px 20px;

  &:hover {
    text-decoration: none;
    border-color: #222;
    color: #222;

    .label {
      background: #222;
    }

    .project-team {
      > li {
        opacity: 1;
      }
    }
  }
}

.project-title {
  margin: 20px 0;
}

.project-count {
  display: none;
  float: right;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $screen-sm) {
    display: inline-block;
  }

  .glyphicon {
    margin-right: 7px;
  }
}

.project-team {
  list-style: inside none;
  margin: 0;
  padding: 0;
  font-size: 0;

  > li {
    display: inline-block;
    width: 25%;
    color: #222;
    opacity: .3;

    .glyphicon {
      font-size: 12px;
      margin-right: 5px;
    }
  }
}

.need-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}