<noscript>
  <div class="container-fluid">
    <div class="row">
      <div class="text-danger col-sm-offset-3">comunitate.code4.ro are nevoie de JavaScript</div>
    </div>
  </div>
</noscript>
<div class="container-fluid" id="cookie-warning" style="display: none">
  <div class="row">
    <div class="text-danger col-sm-offset-3">comunitate.code4.ro foloseste cookies. Adauga o exceptie pentru site-ul nostru.</div>
  </div>
</div>
<script type="text/javascript">
// No JQuery here
var cookieEnabled=(navigator.cookieEnabled)? true : false
if (typeof navigator.cookieEnabled=="undefined" && !cookieEnabled){ 
    document.cookie="testcookie"
    cookieEnabled=(document.cookie.indexOf("testcookie")!=-1)? true : false
}
if (!cookieEnabled) {
  var elem = document.getElementById('cookie-warning');
  elem.style.display = 'inline';
  elem = document.getElementById('signup-submit');
  if (elem) {
    elem.disabled = true;
  }
}
</script>
