<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Documente<span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-wide">
    <% Rails.configuration.x.documents.each do |k,v| %>
      <li><%= link_to v["label"], v["url"] %></li>
    <% end %>
  </ul>
</li>

