<footer class="main-footer">
  <div class="container">
    <a href="https://github.com/gov-ithub/volunt-app">
      <span class="text-muted text-center center-block">Find me on GitHub</span>
      <%= image_tag 'GitHub-Mark-32px.png', alt: 'Octocat', class: 'center-block' %>
    </a>
  </div>
</footer>
