<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="footer-copy mono">&copy; 2017 Code for Romania.<br> Organizație neguvernamentală independentă, neafiliată politic și apolitică.</p>
        <a class="footer-logo" href="https://code4.ro/">
          <img src="//code4.ro/wp-content/themes/code4/dist/images/footer-logo.png" alt="Code for Romania">
        </a>
      </div>
    </div>
  </div>
</footer>
