<table class="table fixed-table fixed-table">
  <colgroup>
    <col class="col-xs-1"/>
    <col class="col-xs-2"/>
    <col class="col-xs-5"/>
    <col class="col-xs-3"/>
    <col class="col-xs-1"/>
  </colgroup>
  <thead>
    <tr>
      <th>Data</th>
      <th>Location</th>
      <th>Sumar</th>
      <th>Participanti</th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'shared/meeting_row', collection: meetings %>
  </tbody>
</table>

