<tr>
  <td><%= member_projects_row.project.name %></td>
  <td><%= member_projects_row.role %></td>
  <td><%= glyphicon_link_to project_member_path(member_projects_row.project, member_projects_row) %></td>
</tr>
