<table class="table fixed-table member-profiles-table">
  <colgroup>
    <col class="col-xs-3"/>
    <col class="col-xs-2"/>
    <col class="col-xs-2"/>
    <col class="col-xs-4"/>
    <col class="col-xs-1"/>
  </colgroup>
  <thead>
    <tr>
      <th>Nume</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Atribute</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'shared/members_profile_row.html.erb', collection: members %>
  </tbody>
</table>
