<table class="table fixed-table member-projects-table">
  <colgroup>
    <col class="col-xs-5"/>
    <col class="col-xs-6"/>
    <col class="col-xs-1"/>
  </colgroup>
  <thead>
    <tr>
      <td>Nume</td>
      <td>Rol</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'shared/member_projects_row.html.erb', collection: members %>
  </tbody>
</table>
