<table class="table fixed_table openings_table">
  <colgroup>
    <col class="col-xs-2"/>
    <col class="col-xs-3"/>
    <col class="col-xs-4"/>
    <col class="col-xs-2"/>
    <col class="col-xs-1"/>
  </colgroup>
  <thead>
    <tr>
      <th>Activ</th>
      <th>Proiect</th>
      <th>Titlu</th>
      <th>Tags &amp; Skills</th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'shared/opening_row', collection: openings %>
  </tbody>
</table>
