<table class="table fixed-table projects-table">
  <colgroup>
    <col class="col-xs-3"/>
    <col class="col-xs-3"/>
    <col class="col-xs-5"/>
    <col class="col-xs-1"/>
  </colgroup>
  <thead>
    <tr>
      <th>Nume</th>
      <th>Leader</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'shared/project_row', collection: projects %>
  </tbody>
</table>
