<tr>
  <td><%= project_row.name %></td>
  <td></td>
  <td><%= render partial: 'shared/tags', locals: {tags: project_row.tags} %></td>
  <td><%= glyphicon_link_to project_path(project_row) %></td>
</tr>
