    <span class="profile-attributes"><%= profile.title %></span>
    <span class="profile-attributes"><%= render partial: 'shared/tags', locals: {tags: profile.tags } %></span>
    <span class="profile-attributes"><%= render partial: 'shared/skills', locals: {skills: profile.skills} %></span>
