  <span class="profile-attributes"><%= profile.title %></span>
  <span class="profile-attributes"><%= render partial: 'shared/tags', locals: {tags: profile.tags } %></span>
  <span class="profile-attributes"><%= render partial: 'shared/skills', locals: {skills: profile.skills} %></span>
  <% if respond_to?(:is_coordinator?) and is_coordinator? %>
    <span class="profile-attributes"><%= render partial: 'shared/tags', locals: {tags: profile.hidden_tags, hidden: true } %></span>
  <% end %>
