<table class="table fixed-table status-reports-table">
  <colgroup>
    <col class="col-xs-1"/>
    <col class="col-xs-2"/>
    <col class="col-xs-6"/>
    <col class="col-xs-2"/>
    <col class="col-xs-1"/>
  </colgroup>
  <thead>
    <tr>
      <th>Data</th>
      <th>Ref</th>
      <th>Status</th>
      <th>Tags</th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'shared/status_report_row', collection: status_reports %>
  </tbody>
</table>
