<tr>
  <td><%= template_row.name %></td>
  <td><%= template_row.subject %></td>
  <td><%= render partial: 'shared/tags', locals: {tags: template_row.tags } %></td>
  <td><%= link_to template_path(template_row) do %>
    <span class="glyphicon glyphicon-play-circle"></span>
  <% end %></td>
</tr>
