<table class="table fixed-table templates">
  <colgroup>
    <col class="col-xs-2"/>
    <col class="col-xs-6"/>
    <col class="col-xs-3"/>
    <col class="col-xs-1"/>
  </colgroup>
  <thead>
    <tr>
      <th>Nume</th>
      <th>Subject</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'shared/template_row', collection: templates %>
  </tbody>
</table>
