<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <%= render partial: 'shared/notice' %>
      <p>Cererea de resetare a parolei se poate face doar pentru o adresa de email care este deja atasata unui profil existent.</p>
      <div class="login-form panel panel-default">
        <%= bootstrap_form_for(@request_reset_presenter,
              method: :post,
              url: request_reset_path,
              layout: :horizontal,
              label_col: 'col-sm-3',
              control_col: 'col-sm-9',
              role: :form) do |f| %>
            <%= f.email_field :email %>
            <%= f.submit 'Reset Password', class: 'col-sm-offset-3 btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
