<div class="container">
  <div class="panel panel-default panel-signup col-sm-offset-4 col-sm-4">
    <div class="panel-body">
      <div class="signup-panel-icon">
        <span class="glyphicon glyphicon-envelope"></span>
      </div>
      <div class="title-container">
        <h2 class="panel-title">Confirma adresa de email</h2>
        <p class="text-info">Am trimis un email pe adresa <%= @signup_presenter.email %>. Pentru ca avem deja un profil cu aceasta adresa este necesar sa urmezi instructiunile din acel email pentru a putea accesa profilul tau in comunitatea Code4Romania.</p>
      </div>
    </div>
  </div>
</div>
