<div class="jumbotron landing">
  <div class="row">
    <div class="col-lg-offset-6">
      <div class="signup-form">
				<h2>Inscrie-te in comunitate</h2>
        <%= render partial: 'shared/notice' %>
        <%= bootstrap_form_for(@signup_presenter,
              method: :post,
              url: signup_path,
              role: :form) do |f| %>
            <%= f.email_field :email,
                placeholder: 'you@example.com',
                hide_label: true,
                input_group_class: 'input-group-lg',
                append: f.submit('Sign up', class: 'btn btn-primary'),
                help: 'Introdu o adresa de email prin care programul GovITHub te poate contacta. Pentru a accesa resursele programului vei primi un email automat prin care vei putea accesa contul tau.'  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
