<div class="jumbotron landing">
    <div class="col-lg-offset-6">
      <div class="signup-form">
				<h2>Înscrie-te în comunitate</h2>
        <%= render partial: 'shared/notice' %>
        <%= bootstrap_form_for(@signup_presenter,
              method: :post,
              url: user_registration_path,
              role: :form) do |f| %>
            <%= f.email_field :email,
                placeholder: 'you@example.com',
                hide_label: true,
                input_group_class: 'input-group-lg',
                append: f.submit('Sign up', class: 'btn btn-primary', id: 'signup-submit'),
                help: 'Avem nevoie de skillurile tale: programare, comunicare, design, organizare evenimente, cercetare, analiză de date și altele la care poate nici nu ne-am gândit.

                Introdu adresa ta de email și te vom contacta noi apoi pentru pașii următori.'  %>
        <% end %>
      </div>
    </div>
</div>
