<table border="0"
  cellspacing="0"
  id="emailHeader">
  <tr class="brand" valign="middle">
    <td width="150px">
        <%= link_to :root do
          attached_image_tag 'govithub-small.png', alt: 'GovITHub', width: '174px'
        end %>
    </td>
    <td>
      <%= yield :title %>
    </td>
  </tr>
</table>
