// Color definitions. These overwrite the bootstrap color variables.

$mainColor: #0C3E8A;
$mainMutedColor: #678bc5;
$mainContrastColor: #A11F5F;
$mainTextColor: white;

$secondaryColor: #a31e60;
$secondaryMutedColor: #c97ca2;
$secondaryContrastColor: #9f3a1b;
$secondaryTextColor: white;

$lightGray: #eeeded;
