// Common styles used on all views

a.navbar-brand {
  padding: 0px;
  img {
    max-height: 100%;
  }
}

div.login-form {
  padding: 25px;
  max-width: 450px;
  margin: auto;
}

img.img-profile-png {
  width: 150px;
}

table.fixed-table {
  table-layout: fixed;
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    .form-group {
      margin-bottom: 0px;
    }
  }
}

.profile {
  dl.dl-horizontal {
    dt {
      padding-bottom: 5px;
    }
  }
}
