// Common styles used on all views

a.navbar-brand {
  padding: 0px;
  img {
    max-height: 100%;
  }
}

div.login-form {
  padding: 25px;
  max-width: 450px;
  margin: auto;
}

img.img-profile-png {
  width: 150px;
}

table.fixed-table {
  table-layout: fixed;
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    .form-group {
      margin-bottom: 0px;
    }
  }
}

table.profiles-table {
  tbody {
    counter-reset: rowNumber;
    tr {
      counter-increment: rowNumber;
      td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
      }
    }
  }
}

.profile {
  dl.dl-horizontal {
    dt {
      padding-bottom: 5px;
    }
  }
}

.email-body {
    max-width: 800px;
    padding: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 10px 0px;
}
