// Common styles used on all views

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin-ext');

// General styles
body{
	background: #f2f2f2;
}
body, input, select, textarea{
	font-family: 'Open Sans', 'sans-serif';
}
a.navbar-brand {
  padding: 0px;
  img {
    max-height: 100%;
  }
}

.navbar{
	padding: 10px 0;
	background: #fff;
	margin: 0;
}
.nav>li>a{
	color: #404040;
	font-weight: bold;
	font-size: 16px;
}
.nav>li>a:hover, .nav>li>a:focus{
	background-color: transparent;
	color: #a31e60;
}

.navbar-toggle .icon-bar{
	background: #fff;
}
.navbar-toggle{
	background: #808080;
}
.login-form, .signup-form{
	font-size: 16px;
	background: #fff;
	max-width: 560px;
	padding: 50px;
	margin: 0;
}
.login-form .help-block, .signup-form .help-block{
	color: #bbb;
	margin-top: 20px;
}
.login-form{
	margin-top: 100px !important;
	margin-bottom: 50px !important;
	padding: 30px !important;
}
.login-form .help-block{
	margin-bottom: 0;
}
.login-form .btn-primary{
	margin-left: 27%;
	font-size: 16px;
	padding: 6px 20px;
}

//.login-form .btn-primary{ margin-left: 15px; }
.landing {
	//background-image: image-url("bg.jpg");
	background-image: url("bg.jpg");
	background-size: cover;
	position: relative;
	margin: 0;
}
.signup-form{
	color:#fff;
	z-index: 2;
	position: relative;
	background: transparent;
	margin: 0;
}
.jumbotron{
	padding: 80px 0;
}
.jumbotron h2{
	font-weight: bold;
	font-size: 32px;
}
.jumbotron.landing:after{
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.66);
	top: 0;
}

footer{
	margin: 10px 0;
	a{
		color:#171516;
		opacity: .5;
	}
	a:hover{
		color:#171516;
		text-decoration: none;
		opacity: 1;
	}
}

img.img-profile-png {
  width: 150px;
}

table.fixed-table {
  table-layout: fixed;
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    .form-group {
      margin-bottom: 0px;
    }
  }
}

table.profiles-table {
  tbody {
    counter-reset: rowNumber;
    tr {
      counter-increment: rowNumber;
      td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
      }
    }
  }
}

div.main-content {
  min-height: 75vh;
}

.profile {
  dl.dl-horizontal {
    dt {
      padding-bottom: 5px;
    }
  }
}

.email-body {
    max-width: 800px;
    padding: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 10px 0px;
}

span.profile-attributes {
  display: block;
}

img.img-profile {
  margin-bottom: 15px;
}
dl.dl-horizontal {
  .btn-group {
    margin-top: 10px;
  }
  .panel {
    margin-top: 20px;
  }
}

span.key-value {
  padding: 2px 5px;
}

a.btn-glyph {
  padding: 0;
}

.panel-signup {
  text-align: center;
  height: 250px;
  position: relative;

  .panel-body {
    .signup-panel-icon {
      font-size: 3em;
    }

    .title-container {
      height: 50px;
    }
  }
}
