/* 
 * This is the scss that is used by email templates. 
 * Emails do not include bootstrap, so copy here any relevand scss rules.
 * Email clients do not support much css, and certainly not media queries.
 * The CSS will be applied directly to matched tags as 'style: ...'
*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table.fixed {
  table-layout: fixed;
  td {
    overflow:hidden;
    text-overflow: ellipsis;
  }
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd !important;
}

.email_content {
  text-align: initial;
}

.emailTable {
  table-layout: fixed;
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0px;
}

.col-1 {
  width: 8.33%
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 24.99%;
}
.col-4 {
  width: 33.32%;
}

.col-12 {
  width: 100%;
}

tr.brand {
  text-align: left;
}

td.name {
  text-align: left;
}
td.value {
  text-align: right;
}
td.center {
    text-align: center;
}
td.total {
  font-weight: bold;
}

tr.header-row, td.header-cell {
  border-bottom: 1px solid #222;
  h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1.1em;
  }
}

table.columnsTable {
  table-layout: fixed;
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

table.data {
  @extend .emailTable;
  caption {
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 1px solid #222;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  thead {
    font-size: 0.8em;
    tr {
      border-bottom: 1px solid $lightGray;
    }
  }
  tbody {
    font-size: 0.7em;
  }
  
  tr:nth-child(even) {
    background-color: $lightGray;
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

a.btn {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  border: 1px solid darker($mainColor, 5%);
  padding: 10px;
  text-decoration: none;
  &:hover {
    background-color: darker($mainColor, 5%);
  }
}

a.btn-primary {
  background-color: $mainColor;
  color: $mainTextColor;
  font-size: 120%;
}

table#bodyTable {
  @extend .emailTable;
  height: 100%;
  width: 100%;
  font-family: Verdana, Lucida, Helvetica, sans-serif;
}

table#emailContainer {
  @extend .emailTable;
  width: 600px;
}

table#emailHeader {
  @extend .emailTable;
  min-height: 50px;
  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -150px;
  }
}

table#emailBody {
  @extend .emailTable;
}

table#emailFooter {
  @extend .emailTable;
  color: #888888;
  a {
    color: inherit;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

